* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}


.container {
     display: flex;
     justify-content: center;
}

.calculadora {
     width: 400px;
     height: 600px;
     background-color: #EA047E;
     display: grid;
     grid-template-columns: repeat(4, 80px);
     grid-template-rows: 130px repeat(6, 80px);
     justify-content: center;
     border-radius: 20px;
     padding-top: 20px;

}

.calculadora button {
     font-size: 1.5rem;
     background-color: #00F5FF;
     border-radius: 50%;
     border: 6px #FF6D28 solid;
     margin: 2px;

}

.calculadora button:hover {
     background-color: #FCE700;
}


.display {
     height: 120px;
     background-color: #FCE700;
     opacity: .7;
     grid-column: 1/-1;
     border: 6px #00F5FF solid;
     ;
     text-align: end;
     padding: 10px 0;


}

.span2 {
     grid-column: span 2;
}

.valor-superior {
     color: black;
     font-size: 1.2rem;
     margin-bottom: 30px;

}

.valor-inferior {
     color: black;
     font-size: 2rem;

}